<p>A camera mod for OpenMW that auto-swaps between first and third person cameras based on if combat or magic are readied or if you're indoors or not.</p>
<div class="center">
  <img src="/img/action-camera-swap.gif" title="A short gif of the mod in action" />
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Camera\ActionCameraSwap

# Linux
/home/username/games/OpenMWMods/Camera/ActionCameraSwap

# macOS
/Users/username/games/OpenMWMods/Camera/ActionCameraSwap</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Camera\ActionCameraSwap"</code>)</li>
  <li>Add <code>content=action-camera-swap.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher</li>
  <li>Configure the mod from the Options >> Scripts menu, and enjoy!</li>
</ol>
<p>
  Note that this mod works great with OpenMW's built-in <span class="bold">Smooth view change</span> camera feature!
</p>
